@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<SIOSR.Models.App.Staff>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (UserManager.GetUserAsync (User).GetAwaiter ().GetResult ().UserType == UserType.Staff) {
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
            @if (UserManager.GetUserAsync (User).GetAwaiter ().GetResult ().UserType == UserType.Staff && item.Status == null) {

            <div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>

            }
            else if (UserManager.GetUserAsync (User).GetAwaiter ().GetResult ().UserType == UserType.Admin && item.Status == null) {

            <div id="verification-control-@item.Id">
                <button onclick="approve(@item.Id)" class="btn btn-link">Validasi</button> |
                <button onclick="reject(@item.Id)" class="btn btn-link">Tolak</button>
                @Html.AntiForgeryToken()
            </div>

            }
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {

    <script>

        function approve (id) {
            $.ajax({
                method: 'post',
                url: '/Staff/Approve',
                data: {
                    Id: id
                },
                headers: {
                    RequestVerificationToken: $("input[name='__RequestVerificationToken']")
                        .val()
                },
                success: () => { $('#verification-control-' + id).hide(); }
            });
        }

        function reject (id) {
            $.ajax({
                method: 'post',
                url: '/Staff/Reject',
                data: {
                    Id: id
                },
                headers: {
                    RequestVerificationToken: $("input[name='__RequestVerificationToken']")
                        .val()
                },
                success: () => { $('#verification-control-' + id).hide(); }
            });
        }

    </script>

}
