@model IEnumerable<SIOSR.Models.App.Lomba>

@{
    ViewBag.Title = "Event";
    ViewBag.NavEvent = "active";
}

<div class="blog">

    @foreach (var item in Model) {

        <div class="blog-left-grid">
            <div class="blog-left-grid-left">
                <h3>
                    <a asp-controller="Home" asp-action="EventDetails" asp-route-eventId="@item.Id">@item.Title</a>
                </h3>
                <p>@Html.DisplayFor(modelItem => item.CreatedAt)</p>
            </div>

            <div class="clearfix"> </div>

            <a asp-controller="Home" asp-action="EventDetails" asp-route-eventId="@item.Id">
                <img src="@string.Format("/images/media/lomba/{0}.jpg", item.Id)" alt="@item.Title" class="img-responsive"/>
            </a>

            <p class="para">@item.Description</p>

            <div class="rd-mre">
                <a asp-controller="Home" asp-action="EventDetails" asp-route-eventId="@item.Id" class="hvr-bounce-to-bottom quod">Read More</a>
            </div>
            <br>
        </div>

    }

    <div class="clearfix"> </div>
</div>
