@{ Layout = null; }

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - SIOSR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript">
        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
    </script>

    <link href="~/lib/w3layouts/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/w3layouts/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/lib/w3layouts/js/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    },
                    1000);
            });
        });
    </script>
</head>

<body>
    <div class="banner-body">
        <div class="container">
            <div class="header">
                <div class="header-nav">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span>O</span>SR</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="hvr-bounce-to-bottom @ViewData["NavHome"]">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="hvr-bounce-to-bottom @ViewData["NavEvent"]">
                                    <a asp-controller="Home" asp-action="Event">Event</a>
                                </li>
                                <li class="hvr-bounce-to-bottom @ViewData["NavProduk"]">
                                    <a asp-controller="Home" asp-action="Produk">Produk</a>
                                </li>
                                <li class="hvr-bounce-to-bottom @ViewData["NavDonasi"]">
                                    <a asp-controller="Home" asp-action="Donasi">Donasi</a>
                                </li>
                                <li class="hvr-bounce-to-bottom @ViewData["NavContact"]">
                                    <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                                </li>
                            </ul>

                            <div class="sign-in">
                                @await Html.PartialAsync("_LoginPartial")
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
            <div class="header-bottom">
                <div class="clearfix"></div>

                @RenderBody()

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grid">
                <div class="col-md-6 footer-grid">
                    <h3>OSR</h3>
                    <div class="footer-grd-left">
                        <img src="~/lib/w3layouts/images/11.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="footer-grd-left">
                        <p>OSR adalah salah satu departemen yang berada dalam BEM FTIF. OSR sendiri adalah salah satu devisi yang bergerak di bidang sosial.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 footer-grid">
                    <h3>anak anak kampung mitra BEM FTIF</h3>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Absensi">absensi anak anak</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Materi">materi dan pengajaran</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <footer>
            <p>&copy; 2018 - SIOSR</p>
        </footer>
    </div>
    <script src="~/lib/w3layouts/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
